
module.exports =

    QINIU :
        KEY : 'XK95mSOgU8LBa8Q1YhcmnEmCO2oXnEILvzuyhNDg'
        SECRET : 'EQPT2JwiJNPXDGtkrv0qIHG4HB1mn4nrqcl0jWpJ'
        BUCKET : "test"

    REDIS :
        PASSWORD : "testpassword"
        IP : "133.133.33.21"

    EVERNOTE :
        KEY : "noman"
        SECRET : "db29f833ffd9937b"
